/*IMPORTACIONES CSS DE COMPONENTES*/
@import url(components/NavBar.css);



/*ESTILO GRAL*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #EEEEEE;
}